@using BloggingApp.Helpers;
@model IEnumerable<Post>;

@{
    ViewData["Title"] = "Blog Posts";
}

<div class="m-3 text-center">
    @if(ViewBag.Categories != null)
    {
        @foreach(var category in ViewBag.Categories)
        {
            <a asp-controller="Post" asp-action="Index" asp-route-categoryId="@category.Id" class="badge bg-warning text-decoration-none ms-2">@category.CategoryName</a>
        }
    }
</div>
    <hr />

@* @if ((User.Identity?.IsAuthenticated == true) && (User.IsInRole("Admin") || User.IsInRole("PostOwner")))
{
    <div class="m-1 text-end">
        <a asp-controller="Post" asp-action="Create" class="btn btn-primary m-1 p-2">Create New Post</a>
    </div>
} *@
<div class="m-1 row row-cols-3 g-4">
    @foreach(var post in Model)
    {
        <div class="col">
            <div class="card h-100 border-0 shadow-lg rounded-2">
                <img src="@post.FeatureImagePath" class="card-img-top" alt="@post.Title" style="height:300px; object-fit:cover;" />

                <div class="card-body">
                    <h5 class="card-title">@post.Title</h5>
                    <p class="text-muted mb-2">Publicshed on @post.PublishedDate.ToString("MMMM dd, yyyy")</p>
                        
                    @{
                        var content = RemoveHtmlTagHelper.RemoveHtmlTags(post.Content);
                    }
                    <p class="card-text">
                        @(content.Length > 100 ? content.Substring(0, 100) + "...." : content)
                    </p>
                    <span class="badge bg-secondary">@post.Category?.CategoryName</span>
                </div>

                <div class="card-footer d-flex justify-content-between">
                    <a class="btn btn-primary btn-sm" asp-controller="Post" asp-action="Details" asp-route-id="@post.Id">Read More</a>
                    <div class="text-end">
                        <div class="text-muted">
                            @post.Author
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }
</div>